.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f8c4c4;
}

.navbar.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbar.visible {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-logo {
  height: 3.125rem;
  margin-right: 0.625rem;
}

.navbar-text {
  font-size: 1.5rem;
  color: black;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-logo {
    height: 2.5rem;
    margin-right: 0.5rem;
  }

  .navbar-text {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-logo {
    height: 2rem;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .navbar-text {
    font-size: 1rem;
  }
}
