.services-container{
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
    width: 90%;
}

.intro-info-section-container{
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
    width: 90%;
}

.contact-form-section-container{
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
    width: 90%;
    background-color: #f9f9f9;
}

.pricing-section-container{
    margin: 6rem auto;
}

.cleaning-duration-section-container{
    margin: 6rem auto;
}

.whychooseus-section-container{
    margin: 6rem auto;
}